<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="top-bar">
    
        <div class="left-side">
            <div class="logo"><a href="/"><img src="/img/kirill-sharkovski-qxnXtSxVQ4Y-unsplash.jpg" alt="LIFE"></a>
            </div>
        </div>

        <div class="right-side">
            <nav class="linking">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productListing">Product List</a></li>
                    <li><a href="/regisration">Regisration</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        &copy ShengNi Chen
    </footer>
</body>

</html>